<p id="notice" class="w3-panel"><%= notice %></p>

<div class="w3-panel w3-green">

<table class="w3-table-all">
<thead>
  <tr>
    <th><h1>cart</h1></th>
    <th></th>

  </tr>
</thead>
<tbody>
<tr>
<% @cart.line_items.each do |item| %>
  <td><%= item.product.title %></td>
  <td><%= item.product.price %></td>
<% end %>
<tr>
<td>
<%= link_to 'Edit', edit_cart_path(@cart) ,class:"w3-button w3-green" %> |
<%= link_to 'Back', carts_path , class:"w3-button w3-green" %>
</td>
</tr>
</tbody>
</table>
</div>
